
doctype 5
html
  head
    meta(charset="utf-8")
    title 3js
    script(src="../components/threejs/build/three.js")
    script(defer, src="build.js")
    link(rel="stylesheet", href="page.css")
  body#main